body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #090627;
  font-family: sans-serif;
  color: azure;
  padding-block: 4rem;
}

h1, h2 {
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  margin-block-start: 3rem;
}

blockquote {
  max-width: min(100vw, 55ch);
}

@media (width <= 40ch) {
  body {
    background-color: red ! important;
  }
}
